@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  border: #333333 1px solid;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
  width: 100%;
}

thead th {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.2);
  color: #545454;
  padding: 10px;
  text-align: left;
}

tbody td {
  overflow-wrap: break-word;
  border: solid 1px rgba(0, 0, 0, 0.2);
  color: #333;
  padding: 10px;
  text-align: left;
}

tbody td:first-child {
  background: rgba(0, 0, 0, 0.2);
}

hr {
  margin: 50px 0;
}
